<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hvað Sagði Hann</title>
    <!--<title>@ViewBag.Title - My ASP.NET Application</title>-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/SharedLayout.css" rel="stylesheet" />
    <link href="~/Content/look.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <nav class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Heim", "Index", "Home")</li>
                    <li>@Html.ActionLink("Beiðnir", "Requesting", "Home")</li>
                    <li>@Html.ActionLink("Þýða", "Translate", "Home")</li>
                    <li>@Html.ActionLink("Um Okkur", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </nav>
        </div>
    </div>
    <div id="logo">
        <a href="@Url.Action("Index", "Home")">
            <img id="logo" src="@Url.Content("~/Img/imgtemp/logo.jpg")" alt="Logo" /> 
        </a>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <img id="footerBanner" src="~/Img/imgtemp/longBanner.jpg" alt="Banner for footer" />
        <br />
        <br />
        <br />
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tísurnar MjáMjá</p>
                @Html.ActionLink("Hafa samband", "About", "Home") 
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
